<div id="about-wrapper">
    <h1 class="display-4">Watson Chatbot Boilerplate</h1>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col">
            <p class="lead">
                This boilerplate aims to help those who want to create a chatbot MVP and need a head start. The backend is set up with a basic Node/Express server to serve files and establish an interface with Watson Conversation API. The frontend uses Angular and Bootstrap4.
            </p>
        </div>
    </div>
</div>
